

<mat-card class="contacts-table-container">

    <div class="header-block">
      <div class="header-text">Contacts</div>
      <button mat-button (click)="openDialog()"><mat-icon class="person-add-icon">person_add</mat-icon>Create contact</button>
    </div>
    
    <div>
        <table class="contacts-table" mat-table [dataSource]="dataSource">
      
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
            </ng-container>
          
            <ng-container matColumnDef="CounterpartyDesctiption">
              <th mat-header-cell *matHeaderCellDef> Organisation </th>
              <td mat-cell *matCellDef="let element"> {{ element.CounterpartyDesctiption }} </td>
            </ng-container>
          
            <ng-container matColumnDef="FirstName">
              <th mat-header-cell *matHeaderCellDef> Contact person </th>
              <td mat-cell *matCellDef="let element"> {{ element.FirstName + ' ' + element.LastName }} </td>
            </ng-container>
          
            <ng-container matColumnDef="Phones">
              <th mat-header-cell *matHeaderCellDef> Phone </th>
              <td mat-cell *matCellDef="let element"> {{ element.Phones }} </td>
            </ng-container>
          
            <ng-container matColumnDef="Email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{ element.Email ? element.Email : "-" }} </td>
            </ng-container>
      
            <ng-container matColumnDef="Description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let element"> {{ element.Description ? element.Description : "-"  }} </td>
            </ng-container>

            <ng-container matColumnDef="star" stickyEnd>
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <mat-icon style="cursor: pointer; position: absolute;" (click)="select.open()">more_vert</mat-icon>
                <mat-select #select>
                    <mat-option (click)="editContact(element)" value="Edit">Edit</mat-option>
                  </mat-select>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row)">
            </tr>
      
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

</mat-card>

