.contacts-table {
    width: 100%;
}

.contacts-table-container {
    margin: 50px;
}

.person-add-icon {
    padding-right: 5px;
}

.header-block {
    display: flex;
    justify-content: space-between;
}

::ng-deep .mat-cell .mat-select-arrow-wrapper {
    display: none !important;
}

::ng-deep .mat-select {
    display: inline;
}