<div class="contact">
  Контакт
</div>
<div class="form-container">


  <div>
    <mat-radio-group (change)="radioChange($event)" name="personType">
      <mat-radio-button checked class="radio-field" value="PrivatePerson">Приватная особа</mat-radio-button>
      <mat-radio-button class="radio-field" value="Organization">Организация</mat-radio-button>
    </mat-radio-group>
  </div>

  <form [formGroup]="contactForm">
    
    <div *ngIf="contactForm.get('CounterpartyType').value == 'Organization'">

      <mat-form-field class="input-field-block-small">
        <mat-label>Код</mat-label>
        <input formControlName="EDRPOU" matInput type="text">
      </mat-form-field>

      <mat-form-field class="input-field-block-medium">
        <mat-label>Название организации</mat-label>
        <input formControlName="FirstName" matInput type="text">
      </mat-form-field>

      <mat-form-field class="input-field-block-small">
        <mat-label>Форма властности</mat-label>
        <input formControlName="OwnershipFormDescription" matInput type="text">
      </mat-form-field>

    </div>

    <div>

      <mat-form-field class="input-field-block-small">
        <mat-label>Телефон</mat-label>
        <input formControlName="Phone" matInput type="text">
      </mat-form-field>

      <mat-form-field class="input-field-block-small">
        <mat-label>Фамилия</mat-label>
        <input formControlName="MiddleName" (formControlNameChange)="test()" matInput type="text">
      </mat-form-field>

      <mat-form-field class="input-field-block-small">
        <mat-label>Имя</mat-label>
        <input formControlName="FirstName" matInput type="text">
      </mat-form-field>

      <mat-form-field class="input-field-block-small">
        <mat-label>Отчество</mat-label>
        <input formControlName="LastName" matInput type="text">
      </mat-form-field>

    </div>

    <div>

      <mat-form-field class="input-field-block-small">
        <mat-label>E-mail</mat-label>
        <input formControlName="Email" matInput type="text">
      </mat-form-field>

      <mat-form-field class="input-field-block-large">
        <mat-label>Доп информация</mat-label>
        <input formControlName="Description" matInput type="text">
      </mat-form-field>

    </div>
  </form>
</div>
<div class="add-adress-block" *ngIf="contactPerson">
  <div class="adress-title">Адреса доставки</div>
  <div *ngIf="contactPerson.Addresses.DoorsAddresses.length == 0">Адресов нет</div>
  <div *ngFor="let address of contactPerson.Addresses.DoorsAddresses">
    <div class="address-container">
      <div class="address-body">
        {{ address.AddressName }} 
        <div class="description-block" *ngIf="address.Description">
          ({{ address.Description }})
        </div>: ул. {{ address.RegionDescription }}, {{ address.BuildingNumber }} 
        <div class="description-block" *ngIf="address.Note">
            ({{ address.Note }})
          </div>
          , {{ address.SettlementDescription }}
      </div>
      <div class="address-actions">
        <a class="edit"><mat-icon class="person-add-icon">edit</mat-icon></a>
        <a class="delete" (click)="deleteAddress(contactPerson, address)"><mat-icon class="person-add-icon">close</mat-icon></a>
      </div>
    </div>
  </div>
</div>

<div class="action-block">
  <div class="action-right">
    <div class="action-right-inner">
      <!-- <button mat-button>
          <i class="fas fa-trash" style="font-size: 1.3em"></i>
      </button> -->
      <button mat-button (click)="saveContact()">Save</button>
    </div>
  </div>
</div>