.contact {
    height: 30px;
    padding: 16px;
    font-family: calibri;
    font-size: 23px;
    font-weight: bold;
    border-bottom: 1px solid grey;
}

::ng-deep .mat-dialog-container {
    padding: 0;
}

.form-container {
    padding: 16px;
}

.radio-field {
    margin-right: 20px;
    min-width: 100px;
    margin-top: 20px;
}

.input-field-block-small {
    width: 22%;
    margin-right: 3%;
    margin-top: 20px;
}

.input-field-block-medium {
    width: 47%;
    margin-right: 3%;
    margin-top: 20px;
}

.input-field-block-large {
    width: 72%;
    margin-right: 3%;
    margin-top: 20px;
}

.action-block {
    height: 59px;
    border-top: 1px solid grey;
}

.action-right {
    float: right;
    margin-right: 32px;
}

.action-right-inner {
    height: 59px;
    display: table-cell;
    vertical-align: middle;
}

.add-adress-block {
    min-height: 30px;
    padding: 0px 16px 15px 16px;
}

.adress-title {
    color: black;
    font-family: calibri;
    font-size: 17px;
    font-weight: bold;
}

.address-container {
    margin-top: 10px;
    height: 30px;
}

.address-body {
    width: 87%;
    display: inline-block;
}

.address-actions {
    width: 10%;
    display: inline-block;
}

.description-block {
    display: inline-block;
}

.edit {
    margin-right: 15px;
    cursor: pointer;
}

.delete {
    margin-right: 5px;
    cursor: pointer;
}
